<div *ngIf="!userAutenticated" class="fill-parent">
  <login-page (onSignIn)="loadUser()"></login-page>
</div>

<mat-toolbar *ngIf="userAutenticated" class="app-toolbar_color">
  <div> 
    <button mat-icon-button class="example-icon" aria-label="Toogle menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <label> Cars </label>
  </div>
  <div>
    <label> {{ getHelloSignedUser() }} </label>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon> account_circle </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon> person </mat-icon>
          <label> Me </label>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon> power_settings_new </mat-icon>
          <label> Log Out </label>
        </button>        
      </mat-menu>    
  </div>
</mat-toolbar>

<mat-drawer-container *ngIf="userAutenticated" class="example-container" autosize>
  <mat-drawer #drawer class="mat-drawer_width" mode="side">
    <side-menu></side-menu>
  </mat-drawer>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>