@import '~@angular/material/theming';

@include mat-core();

$carros-web-primary: mat-palette($mat-indigo);
$carros-web-accent: mat-palette($mat-pink, A200, A100, A400);
$carros-web-warn: mat-palette($mat-red);
$carros-web-theme: mat-light-theme($carros-web-primary, $carros-web-accent, $carros-web-warn);

@include angular-material-theme($carros-web-theme);

html, body { height: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
